<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>915098076239-63gia5cd5o0d9biqipp81d346eto4ub8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.915098076239-63gia5cd5o0d9biqipp81d346eto4ub8</string>
	<key>API_KEY</key>
	<string>AIzaSyBrgXBYJ7WVQx5H-KpU3uPzotWRpK9S4TM</string>
	<key>GCM_SENDER_ID</key>
	<string>915098076239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.hatahata.pixelMaker</string>
	<key>PROJECT_ID</key>
	<string>pixel-maker-b6bda</string>
	<key>STORAGE_BUCKET</key>
	<string>pixel-maker-b6bda.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:915098076239:ios:6dbcfd3c8c18f615ecd63a</string>
</dict>
</plist>